<h1 class="no_page_container">Create New Draft</h1>
<div class="cd_left">
	<h2>Setup</h2>
  <%= form_for @draft,url: new_draft_path(@draft) do |f| %>
  <%= f.text_field :name, placeholder:" draft name (optional)" %><br><br>
  <label>Type <%= select_tag(:draft_type, options_for_select(['Round Robin','Draft as a Team'],'round robin')) %></label><br><br>
  <label>GM's <%= select_tag(:number_of_gms, options_for_select(1..10, 2)) %></label><br><br>
  <label>Rounds <%= select_tag(:number_of_rounds,options_for_select(1..3, 1)) %></label><br><br>
  <label>Access <%= select_tag(:access, options_for_select(['Public', 'Private'], 'public')) %></label><br><br><br>
  <%= f.submit "Step 2 - Details", id: "draft_setup" %> 
  <% end %>

  <% if @error%>
    <p id="error"><%= @error %></p>
  <% end %>
</div>
<div class="cd_middle">
	<h2>Choose Teams</h2>
    <%= render partial: "choose_teams" %>
</div>
<div class="cd_right">
	<h2>Set Draft Order</h2>
    <input id="draft_order_selection_button" class="draft_order_selection" type="submit"> 
    <ul id="sortable">
      <% if @teams %>
        <% @teams.each do |team| %>
          <li id="dp_data" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= team.name %></li>
        <% end %>
      <% end %>
    </ul>
</div>

