<!DOCTYPE html>
<html lang="en">
<head>
  <title>iGM</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<header><%= render partial: "header" %></header>
<body>
    <div class="container">
      <%= yield %>
    </div>
</body>
<footer>
  <p> 
    <a href="/"> © iGM 2014 </a>
  </p>
  </footer>
</html>
